# Contains minimum requirements that we support
numpy == 1.25.0
matplotlib == 3.8.0
# result info for LSDyna is supported since Dec 23 (0.10.1)
# handling of timeout on start server is supported since 0.13.7
ansys-dpf-core == 0.13.7
pyvista == 0.36.1
